<%
def escape_html(str)
  Rack::Utils.escape_html(str)
end
%>

<div class="search-results">
  <form method="get">

    <% unless product_name.nil? %>
      <h4 style="border: 1px solid #ccc; padding: 4px 20px;">
        Filtering by: <%= product_name %>
        <% unless product_version.nil? %>and <%= product_version %>
        <% end %>
      </h4>
    <% end %>
    <input name="q" value="<%= escape_html search_term %>"/>
    <% unless product_name.nil? %>
      <input type="hidden" name="product_name" value="<%= escape_html product_name %>"/>
    <% end %>
    <% unless product_version.nil? %>
      <input type="hidden" name="product_version" value="<%= escape_html product_version %>"/>
    <% end %>
  </form>

  <% if result_count == 0 %>
    <div class="no-results">No Results</div>
  <% else %>
    <div class="result-summary">
      Showing <%= (page_number - 1) * 10 + 1 %> to <%= [(page_number - 1) * 10 + 10, result_count].min %> of <%= result_count %> results.
    </div>

    <ul class="search-results-list">
      <% result_list.each do |hit| %>
        <li>
          <a href="<%= hit.url %>"><%= hit.title %></a>
          <% if hit.product_name %>
            <br/>
            <b><%= hit.product_name %> <%= hit.product_version %></b>
          <% end %>
          <div><%= hit.text %></div>
        </li>
      <% end %>
    </ul>

    <div class="pagination">
      <% search_query = "/search?q=#{ search_term }" %>
      <% search_query << "&product_name=#{ product_name }" unless product_name.nil? %>
      <% search_query << "&product_version=#{ product_version }" unless product_version.nil? %>
      <% if page_number == 1 %>
        <span class="disabled page first">First</span>
        <span class="disabled page previous">Prev</span>
      <% else %>
        <a class="page first" href="<%= search_query %>">First</a>
        <a class="page previous" href="<%= search_query %>&page=<%= page_number - 1 %>">Prev</a>
      <% end %>

      <% page_window.each do |page| %>
        <% if page == page_number %>
          <span class="current page"><%= page %></span>
        <% else %>
          <a class="page" href="<%= search_query %>&page=<%= page %>"><%= page %></a>
        <% end %>
      <% end %>

      <% if page_number == last_page %>
        <span class="disabled page next">Next</span>
        <span class="disabled page last">Last</span>
      <% else %>
        <a class="page next" href="<%= search_query %>&page=<%= page_number + 1 %>">Next</a>
        <a class="page last" href="<%= search_query %>&page=<%= last_page %>">Last</a>
      <% end %>
    </div>
  <% end %>
</div>
