<div class="search-results">
  <form method="get">
    <input name="q" value="<%= query %>"/>
  </form>

  <% if result_count == 0 %>
    <div class="no-results">No Results</div>
  <% else %>
    <div class="result-summary">
      Showing <%= (page_number - 1) * 10 + 1 %> to <%= [(page_number - 1) * 10 + 10, result_count].min %> of <%= result_count %> results.
    </div>

    <ul class="search-results-list">
      <% search_results.each do |result| %>
        <li>
          <a href="<%= result['_source']['url'] %>"><%= result['_source']['title'] %></a>
          <div><%= result['highlight']['text'].first.strip %></div>
        </li>
      <% end %>
    </ul>

    <div class="pagination">
      <% if page_number == 1 %>
        <span class="disabled page first">First</span>
        <span class="disabled page previous">Prev</span>
      <% else %>
        <a class="page first" href="/search?q=<%= query %>">First</a>
        <a class="page previous" href="/search?q=<%= query %>&page=<%= page_number - 1 %>">Prev</a>
      <% end %>

      <% page_window.each do |page| %>
        <% if page == page_number %>
          <span class="current page"><%= page %></span>
        <% else %>
          <a class="page" href="/search?q=<%= query %>&page=<%= page %>"><%= page %></a>
        <% end %>
      <% end %>

      <% if page_number == last_page %>
        <span class="disabled page next">Next</span>
        <span class="disabled page last">Last</span>
      <% else %>
        <a class="page next" href="/search?q=<%= query %>&page=<%= page_number + 1 %>">Next</a>
        <a class="page last" href="/search?q=<%= query %>&page=<%= last_page %>">Last</a>
      <% end %>
    </div>
  <% end %>
</div>
